# Default values for ix-device-plugin.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: ix-device-plugin
  pullPolicy: IfNotPresent
  tag: "4.4.0"

imagePullSecrets: []

resourceName:
  resourceName: "iluvatar.com/gpu"

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

securityContext:
  privileged: true
  capabilities:
    drop:
    - ALL

podAnnotations:
  scheduler.alpha.kubernetes.io/critical-pod: ""
podLabels: {}

livenessProbe:
  exec:
    command: ["ls", "/var/lib/kubelet/device-plugins/iluvatar-gpu.sock"]
  periodSeconds: 5

startupProbe:
  exec:
    command: ["ls", "/var/lib/kubelet/device-plugins/iluvatar-gpu.sock"]
  periodSeconds: 5

volumes:
  - name: device-plugin
    hostPath:
      path: /var/lib/kubelet/device-plugins
  - name: udev-ctl
    hostPath:
      path: /run/udev
  - name: sys
    hostPath:
      path: /sys
  - name: udev-etc
    hostPath:
      path: /etc/udev/
  - name: dev
    hostPath:
      path: /dev
  - name: ix-device-plugin-log
    hostPath:
      path: /var/log/iluvatarcorex
      type: Directory 
  - name: pod-resources
    hostPath:
      path: /var/lib/kubelet/pod-resources/
  
volumeMounts:
  - name: device-plugin
    mountPath: /var/lib/kubelet/device-plugins
  - name: udev-ctl
    mountPath: /run/udev
    readOnly: true
  - name: sys
    mountPath: /sys
    readOnly: true
  - name: dev
    mountPath: /dev
  - name: ix-device-plugin-log
    mountPath: /var/log/iluvatarcorex/
  - name: pod-resources
    mountPath: /var/lib/kubelet/pod-resources
  
cfgName: ix-config
ixConfig:
  flags:
    splitboard: false
    usevolcano: false
    reset_gpu: false
